!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Shipyard"

    = csrf_meta_tags
    = javascript_pack_tag "mobile"

  %body{class: [controller_name, "skin-blue", "sidebar-mini"].join(" ") }
    .wrapper{style: 'min-height: 960px'}
      %header.main-header
        %a.logo{href: root_path}
          %span.logo-mini

          %span.logo-lg
        %nav.navbar.navbar-static-top
          %a.sidebar-toggle{role: 'button', data: {'toggle': 'push-menu' }}
            %span.sr-only
          .container-fluid
            %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

            .navbar-collapse.collapse.navbar-responsive-collapse
              %ul.nav.navbar-nav.navbar-right


      %footer.main-footer
        %p &copy; Company 2017
